includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/nesbot/carbon/extension.neon
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: max
  paths:
    - app
    - config
  excludePaths:
    - tests
