includes:
	- vendor/larastan/larastan/extension.neon
	- vendor/nesbot/carbon/extension.neon
	- phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

	paths:
		- config
		- database
		- routes
		- src

	level: max

	tmpDir: /tmp/phpstan

	ignoreErrors:
		- identifier: larastan.noEnvCallsOutsideOfConfig
