name: Release

on:
  workflow_call:

jobs:
  release:
    name: Run Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      packages: write

    steps:
      - name: Checkout Branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24.10.0'

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: '1.3.0'

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite
          ini-values: error_reporting=E_ALL
          tools: composer:v2
          coverage: none

      - name: Install Node Dependencies
        run: bun install

      - name: Install PHP Dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run Semantic Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: bunx semantic-release
